@import 'variables.scss';

h2 {
  font-style: italic;
}

.login-gif {
  margin-top: 2em;
}

.button-socialmedia {
  margin-top: 2em;
  font-family: Segoe UI;
  font-weight: 600;
  font-size: 1.02rem;
  line-height: 3.125em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  color: #fff;
  background: linear-gradient(260deg, #337eb9, #384499);
  -webkit-box-shadow: 0 2px 4px 0 hsla(13, 8%, 42%, .27);
  box-shadow: 0 2px 4px 0 hsla(13, 8%, 42%, .27);

  padding-right: 24px;
  padding-left: 24px;
  &:hover {
    background: #384499;
  }
}

.login-container {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}