

.tracking-container {
  & > div {
    padding: 5px;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .chat-list {
    min-width: 400px;
    .chat-list-entry {
      display: block;
      padding: 5px;
      cursor: pointer;
      &.selected {
        background-color: rgb(238, 238, 238);
      }
    }
  }
  .chat-data, .chat-messages {
    padding: 10px;
  }
  .chat-data {
    overflow-x: scroll;
  }
  .message-container {
    padding: 0;
    padding-bottom: 20rem;
    height: calc(100vh - 4rem);
  }


}
